.header-container{
    display: flex;
    padding-block: 2rem 1rem;
    justify-content: center;

    ul{
        display: flex;
        flex-direction: row;

        li{
            margin-inline:.625rem .625rem;
            list-style: none;
        }
    }
}