@import '../../styles.scss';

.header-container {
    display: flex;
    padding-block: 2rem 2rem;
    justify-content: center;
    overflow:hidden;

    ul {
        display: flex;
        flex-direction: row;

        li {
            margin-inline: .625rem .625rem;
            list-style: none;
            padding: .425rem;
            overflow:hidden;
        }

        a {
            padding: 1rem;
            transition: .3s ease;
            position: relative;
        }
    }
}

.hover:hover{
    color:#fff;
}

.hover::before{
    content: '';
    background: $primary-color;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    top: -80px;
    left: -100px;
    border-radius: 50%;
    scale:1;
    transition: .8s ease;
}

.hover:hover::before {
    background: $primary-color;
    z-index: -1;
    top: 0;
    left: 0;
    border-radius: 50%;
    scale:2;
    transition: .8s ease;
}