<div class="lg-card-container">
    <div class="lg-card-picture">
        <img src="{{blogPicture}}" alt="Image placeholder" srcset="">
    </div>
    <div class="lg-card-title">
        <h4><a href="#">Saiu a nova versão do Angular</a></h4>
    </div>
    <div class="lg-card-description">
        <a href="#">
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit enim mattis, odio taciti cras ridiculus feugiat netus facilisi suspendisse mi, eget montes eros metus in etiam sollicitudin sed. Aenean pellentesque ex phasellus mauris id dignissim massa orci, convallis taciti sed felis parturient euismod erat pharetra, a scelerisque pulvinar lorem ac efficitur mus.</p>
    </a>
    </div>
</div>