@import '../../../styles.scss';

.main{
    display: grid;
    padding: 1rem;
    gap:20px
}

.admin-info-box{
    display: flex;
    flex-direction: column;

    :is(input[type="text"]){
        background: transparent;
        border: none;
        border-bottom: 1px solid #ffffff60;
        padding: .625rem;
        margin-block:1rem
    }

    input[type="file"]{
        margin: .625rem;
    }
    
    textarea{
        min-height: 6rem;
        max-width: 40vw;
        background: transparent;
        border: 1px solid #ffffff60;
        padding: .625rem;
    }

    button[type="submit"]{
        padding: 1rem;
        max-width: 230px;
        margin-top:1rem;
        background-color: $primary-color;
        border: none;
        font-size: $sm-font-size;
        font-weight: 700;
        cursor: pointer;
    }
}