<section class="content-container">
    <div class="breadcomb">
        <a (click)="prevPost(id)" class="content-prev"> < Post anterior </a>
        <a [routerLink]="['']" class="content-back-home"> Voltar para a home</a>
        <a (click)="nextPost(id)" class="content-next"> Próximo post > </a>
    </div>

    <div class="cover-container">
        <img src="{{ contentPicture }}" alt="Placeholder Image" srcset="">
    </div>
    <div class="title-container">
        <h1>{{ contentTitle }}</h1>
    </div>
    <div class="description-container">
        <p>{{ contentDescription }}</p>
    </div>
</section>

<app-header></app-header>