<header>

    <app-header></app-header>
    <app-menu-title></app-menu-title>
    
</header>

<main class="main">

    <div class="articles col-2">
        <div class="articles-main">
            <app-large-card></app-large-card>
        </div>

        <div class="articles-others">
            <app-small-card></app-small-card>
            <app-small-card></app-small-card>
            <app-small-card></app-small-card>
        </div>
    </div>

    <div class="articles col-2">
        <div class="articles-main">
            <app-large-card></app-large-card>
        </div>

        <div class="articles-others">
            <app-small-card></app-small-card>
            <app-small-card></app-small-card>
            <app-small-card></app-small-card>
        </div>
    </div>

</main>