@import '../../../../styles.scss';

.sm-card-container{
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:  center;
    border-bottom: 2px solid #ffffff60;
    

    .sm-card-wrapper{
        padding-inline: 1rem 1rem;
    }

    .sm-card-picture{
        height: auto;
        overflow: hidden;

        img{
            max-width: 600px;
            width: 100%;
            object-fit: cover;
            aspect-ratio: 1/1;
            transition: .6s ease;
        }
    }

    .sm-card-title{
        font-size: $md-font-size;
        line-height: 32px;
        padding-block: 1rem;
        transition: .6s ease;

        h4 > a{
            color: $primary-color;
            }
    }

    .sm-card-description{
        font-size: $x-sm-font-size;
        line-height: calc($x-sm-font-size + .625rem);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp:3 ;
        overflow: hidden;

        p{
            color:$offset-text-color;
        }
    }
}

.sm-card-container:hover .sm-card-picture > img{
    transform: scale(1.12);
    transition: .6s ease;
    filter: brightness(150%);
}

.sm-card-container:hover .sm-card-title{
    transition: .6s ease;
    filter: brightness(150%);
}

@media screen and (max-width:768px) {
    .sm-card-container{
        align-items: center;
        flex-direction: row-reverse;

        .sm-card-wrapper{
            padding-inline: 1rem;
        }

        .sm-card-picture{
            max-width: 100%;
            height: auto;
    
            img{
                max-width: 720px;
                width: 100%;
                object-fit: cover;
                aspect-ratio: 1/1;
            }
        }
    }
}